{{#each this}}
<li class="arrivals__list-item">
    <img class="wrapper__image" src="{{{webformatURL}}}" alt="{{tags}}" data-id={{id}} />
    <div class="wrapper__description cart__card" data-id={{id}}>
        <h3 class="wrapper__description-title" data-id={{id}}>{{tags}}</h3>
        <span class="wrapper__description-text" data-id={{id}}>&dollar;{{price}}</span>
        {{!-- <button type="button" class="button add-button">Add to Cart</button> --}}
    </div>
</li>
{{/each}}