{{#each this}}
<li class="popular__list-item">
    <img class="wrapper__image" src="{{previewURL}}" alt="{{tags}}" data={{id}} />
    <div class="wrapper__description">
        <h3 class="wrapper__description-title" data={{id}}>{{tags}}</h3>
        {{!-- <span class="wrapper__description-text" data={{id}}>&dollar;{{price}}</span> --}}
        <div class="wrapper__description-icons">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Star_icon-72a7cf.svg/128px-Star_icon-72a7cf.svg.png"
                width="24" height="24" alt="star">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Star_icon-72a7cf.svg/128px-Star_icon-72a7cf.svg.png"
                width="24" height="24" alt="star">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Star_icon-72a7cf.svg/128px-Star_icon-72a7cf.svg.png"
                width="24" height="24" alt="star">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Star_icon-72a7cf.svg/128px-Star_icon-72a7cf.svg.png"
                width="24" height="24" alt="star">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Star_icon-72a7cf.svg/128px-Star_icon-72a7cf.svg.png"
                width="24" height="24" alt="star">
        </div>
    </div>
</li>
{{/each}}